<p> Hi <%= @user.first_name  %></p>

<div id="created_events">Your created events:
<br>
<% @user.created_events.each do |created_event| %>
  <a href="/event/<%= created_event.id %>"><%= created_event.name %></a>
  <br>
<% end %>
</div>

<p>Your attended events:</p>
<% @user.attended_events.each do |attended_events| %>
  <%= attended_events.name %>
<% end %>

<%= erb :_create_event %>
